/** @format */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #e5e5fd;
  --primary-font: "Inter", serif;
}

.main {
  background-color: var(--primary-color);
  width: 100%;
}

.container {
  height: 100%;
  width: 80%;
  margin: auto;
}

.header {
  display: flex;
}

img {
  width: 250px;
  height: 300px;
  border-radius: 50%;
}
.img-box {
  margin: 30px 20px 0 30px;
}

.name-box {
  font-family: var(--primary-font);
  color: #000000;
  font-weight: 600;
  font-size: 60px;
  line-height: 30px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: end;
  align-items: end;
  padding-bottom: 45px;
}

.year-box {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 20px;
  line-height: 8px;
  color: #000000;
}

.content {
  display: flex;
  flex-direction: column;
}

.heading {
  font-family: var(--primary-font);
  font-size: 40px;
  margin: 40px 0 0 30px;
  font-weight: 500;
  line-height: 20px;
  color: #000000;
}

.detail {
  font-family: var(--primary-font);
  font-size: 15px;
  margin: 25px 0 10px 30px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
}

.bio {
  display: flex;
  flex-direction: column;
}

.bio-head {
  font-family: var(--primary-font);
  font-size: 25px;
  font-weight: 500;
  line-height: 15px;
  margin: 30px 0 15px 30px;
}

li {
  font-family: var(--primary-font);
  font-size: 15px;
  font-weight: 400;
  margin: 5px 0 0 43px;
  line-height: 18px;
}
.no-style {
  text-decoration: none;
  color: inherit;
  text-decoration: underline;
}

.detail-style {
  font-weight: 600;
}
.footer-style {
  color: blue;
}
.footer {
  font-family: var(--primary-font);
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
  text-align: end;
  margin: 20px 20px 10px 0;
}
