/** @format */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#green {
  background-color: green;
}

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

button {
  border-radius: 5px;
  width: 100px;
  height: 40px;
  margin: 5px;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
  &:hover {
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.2);
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

h1 {
  margin-bottom: 25px;
}
