/** @format */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

h1 {
  background-color: #081b31;
  color: #fff;
  height: 80px;
  line-height: 80px;
}

.choice {
  height: 150px;
  width: 150px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    opacity: 0.8;
  }
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 2rem;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-top: 3rem;
  gap: 5rem;
}

#user-score,
#comp-score {
  font-size: 3rem;
}

.msg-container {
  margin-top: 3rem;
}
#msg {
  background-color: #081b31;
  color: #fff;
  font-size: 1.2rem;
  display: inline;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  cursor: pointer;
}
